:root {
    --horizontal-gap: 1em;
    --vertical-gap: 0.4em;
    --vertical-gap-clipboard: 1.4em;
    --dialog-border-radius: 8px;
    --clipboard-size: 22px;
    --clipboard-gap: 0px;
}
dialog section { user-select: none; }
dialog { margin: auto; }
dialog { padding: 0; border: none; border-radius: var(--dialog-border-radius); outline: none; }
dialog > section { padding: 1em; padding-top: var(--vertical-gap); padding-bottom: var(--vertical-gap); }
dialog > section:first-of-type { background-color: floralWhite; padding-top: var(--vertical-gap-clipboard); }
dialog > section:last-of-type { background-color: silver; border-top: black solid thin; display: flex; justify-content: space-around; }
dialog button {
    background-color: ghostwhite;
    border: solid thin black; 
    padding-left: var(--horizontal-gap);
    padding-right: var(--horizontal-gap);
    padding-top: var(--vertical-gap);
    padding-bottom: var(--vertical-gap);
    border-radius: 4.1px;
    white-space: nowrap;
    margin-left: var(--horizontal-gap);
}
dialog button:first-of-type { margin-left: 0; }
dialog button:focus { outline: solid 2px ghostwhite; }
dialog button:hover { background-color: lightblue; }
dialog button:active { background-color: purple; color: white; }
::backdrop { background-color:  hsl(300, 30%, 15%, 100%); opacity: 0.5; }
dialog aside { /* copy to clipboard element */
    width: var(--clipboard-size); height: var(--clipboard-size);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IB2cksfwAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAEFJREFUOMtjZGBg+M9AGmBEFyDFAAy1TAwUgoE3gIVYv+KT+0+CAeji/4dBIFItFv6TGBOkJ1lc6gY+DBgp9AIDAMA4DhD6Up46AAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: center;
    cursor: copy;
    position: absolute;
    top: var(--clipboard-gap); right: var(--clipboard-gap);
    opacity: 0.6;
}
dialog aside:hover { opacity: 1; }
dialog aside:active { background-color: yellow; }
